.card__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main__card {
  width: 25rem;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.7), -3px 1px 4px rgba(0, 0, 0, 0.7);
  margin: 2rem 0.5rem;
}
.main__card:hover {
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.7), -3px 3px 12px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}
.sub__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sub__card div:first-child {
  background-color: #f1b143af;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid black;
}

.sub__card .card__body {
  border-width: 100%;
  padding: 1rem;
  text-align: center;
}
.card__footer {
  border-top: 3px solid #f1b143af;
  padding: 2rem;
}
.card__footer a {
  font-size: 2rem;
}
