* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit !important;
}
body {
  background-color: white !important;
}
html,
body {
  height: 100% !important;
  width: 100%;
}
.app {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 556px) {
  html {
    font-size: 55%;
  }
}
